*{
    margin: 0;
    padding:0;
   box-sizing: border-box; 
 }

.body {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}
 
$background: #75BF7A;


 @mixin fonbutton($background)
{
  padding: 1rem 2rem;
  background-color:$background;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  
}

 %subtitletext{
  font-size: 1.5rem;
  font-weight: 500;
 color: #9E9DA2;
 }
  
 %mainblock2{
  width: 300px;
  h2{
    padding: 15px;
    margin: 10px;
  }
  span{
   padding: (6px 16px);
    color: $background;
    font-size: 2rem;
    border:6px #75BF7A dashed;
    border-radius: 50%;
      }
    p{ @extend%subtitletext;
    }
 }

 .wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem; 

  .header {
    display: flex;
    flex: 0 1 174px;
    justify-content:space-between;
    align-items: center;

   
    .header-nav> a{
      color: black;
    margin-right: 35px;
    text-decoration: none;
  }

  .header-nav> a:nth-child(4){
  @include fonbutton($background);
  }
  }

   .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-title{
  font-size: 3.75rem;
  font-weight: 700;
}
 .main-subtitle{
@extend%subtitletext;
 }

 
.main_block1{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  }

.main-text{
display: flex;
flex-direction: column;
flex-grow: 1 ;
width: 560px;
justify-content: space-around;
}

.carimg{
  display: flex;
  flex-grow: 0;
}

.downloadAndroid,.downloadApple{
    @include fonbutton(black);
    text-decoration: none;
  }

    .applytodrive{
      @include fonbutton($background);
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 30px;
  margin-top: 50px;
 
 }
  .phone{
    padding:  1rem;
    border-radius: 5px;
    border-style: none;
    margin-left: 5rem;
  }

  .apply-btn{
    @include fonbutton(black);
  }
    } 

.circle{
position: absolute;
z-index: -1;
top: 70px;
right: -55px;

    background-color: #75BF7A;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}


    .footer {
      flex: 0 1 400px; 
      display: flex;
      flex-direction: column;
      padding: 1rem;
              }

  .footer_contacts{
    display: flex;
    flex: 0 1;
    justify-content: space-between;
    padding: 4rem;
    border:#cdccd0 1px solid;
      }

      .contact1 > p:nth-child(1),.contact2 > p:nth-child(1){
        font-weight: 500;
font-size: 22px;
padding-bottom: 15px;
      }

      .footer_rights{
      display: flex;
    justify-content: center; 
    color: #75BF7A;
  }
  
  .main_block2   {
    display: grid;
    grid-template-areas: 
"main_block2_how main_block2_how main_block2_how"
"main_block2_1 main_block2_photo main_block2_2"
"main_block2_3 main_block2_photo main_block2_4"; 
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns:minmax(290px 1fr);

  } 

  .main_block2_how  {
 grid-area:main_block2_how;
  font-size: 2.85rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  padding-top: 120px;
   span{
    color: $background
   } 
  p{  @extend%subtitletext;
    }
  }
  

  .main_block2_1
  {grid-area:main_block2_1;
    @extend%mainblock2;
    text-align: right;
    
  }
  

  .main_block2_photo
  {grid-area:main_block2_photo;
    justify-self: center;
    position: relative;
 }
  .main_block2_2
  {grid-area:main_block2_2;
    @extend%mainblock2;
    text-align: left;}
  .main_block2_3
  {grid-area:main_block2_3;
    @extend%mainblock2;
    text-align: right;}
  .main_block2_4
  {grid-area:main_block2_4;
    @extend%mainblock2;
    text-align: left;
  }




 

  